<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%=name%></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<script>
    let logoutTimer;

    function resetLogoutTimer() {
        clearTimeout(logoutTimer);
        logoutTimer = setTimeout(() => {
            
            alert('Session timed out. Please login again.');
            
           
            window.location.href = '/users/login';
        }, 10000); 
    }

    document.addEventListener('mousemove', resetLogoutTimer);
    document.addEventListener('keypress', resetLogoutTimer);
</script>




</body>
</html>